#root {
  color:black;
}

.style-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.episode-container-class-name{
  width: 100%;
  background-color: #CAE9FF;
  border-radius: 25px 25px 15px 15px;
  width: 28%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 1em;
  background-color: #f5f5dc;
}
#mainTvInfo h2 {
  margin-left: 1em;
}
#summaryImageDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#summaryImageDiv img, p {
  margin-left: 1em;
}
#tvShowsInfo {
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  list-style-type: none;
}

#returnBtn{
background-color: azure;
margin: 0  auto;
margin-left: 1em;
}
.tvShowTitleClass-hoover:hover{
  background-color: coral;
}